<div class="fixed-header">
  <div class="container">
    <div class="logo">
       <img src="assets/images/transparentMlm.png" alt="MANALOCALMALL">
       <h4 class="productTitle">MANALOCALMALL</h4>
    </div>
  
  </div>
</div>
<div class="container">
  <div class="main-section row">
    <div class="luckdraw-section col">
      <h4 class="">Luckydraw contest</h4>
      <div class="customerCard" *ngFor="let customer of customersArray">
        <p >Customer Id: {{customer.customerId}}</p>
        <p >Participated in festival super sale: {{customer.superSale}}</p>
      </div>
    </div>
    <div class="time-section col">
      <app-analog-time></app-analog-time>
    </div>
   
  </div>
 
  
</div>
<div class="fixed-footer">
  <div class="container">@Copyright 2021 All Right Reserved By 
    <a  class="companyNametbis" (click)="goToLink('http://www.techbrainsinnovative.com')" >Techbrains Innovative solutions Pvt.Ltd</a>
  </div>        
</div>
